APP_ENV=dev
APP_SECRET=change_me
DATABASE_URL="mysql://root:root@127.0.0.1:3306/gestion_bibliotheque?serverVersion=8.0.37&charset=utf8mb4"
JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=change_me
